/** {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 13px;
    text-align: center;
    background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
}*/

.start_btn {
    margin: 40px auto;
    text-align: center;
}

.start_btn li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    text-decoration: none;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.green {
    background-color: rgba(1,151,171,1);
    color: rgba(0,63,71,1);
    border-color: rgba(0,63,71,.2);
}

a.green:hover {
    color: rgba(1,151,171,1);
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
    background: rgba(0,63,71,.7);
}

html{
    font-size: 26px;
}


/* changes in bootstrap styles*/
.container {
    max-width: 800px
}

.header {
    padding-left: 15px;
}

.nav li:first-child {
    font-size: 30px;
}

/* main styles */

ul {
    list-style: none;
    padding: 0px;
}

.logo{
    color : #EB1C24;
}
.logo span{
    color : white;
    background: #EB1C24;
    padding: 3px;
    border-radius: 5px;
}

.logo a:hover{
    color : #337ab7;
    text-decoration: none;
}

.logo a:focus{
    color : #337ab7;
    text-decoration: none;
}



.menu {
    height: 50px;
    background: aqua;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
}

.about_text-wrapper{
    max-width: 600px;
    margin: 0px auto;
}

.about_text-wrapper h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.about_text-wrapper p{
    line-height: 1.5;
    font-size: 16px;
    margin-top: 10px;
}

.about_header{
    color: #337ab7;
}

.about_footer{
    color: #EB1C24;
}

.about_PS{
    color: #337ab7;
}

.settings_item_wrapper{
    text-align: center;
    margin-top : 50px;
}

.settings_item_wrapper li {
    display : inline-block;
}

.settings span {
    text-align: center;
    display: block;
    font-size: 26px;
    color: #337ab7;
}

input{
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
    display: none;
}

input + label{
    border : 2px solid black;
    padding : 5px;
    cursor: pointer;
}

label{
    font-weight: normal;
}

input:checked + label{
    color : green;
    border-color: green;
}

.levels {
    max-width : 400px;
    margin : 20px auto;
}

.levels label {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 63, 71, .7);
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    font-size: 26px;
    margin: 5px;
}

.tences{
    max-width : 400px;
    margin : 20px auto;
}

.tences label {
    padding: 7px;
    border: 2px solid rgba(0, 63, 71, .7);
    border-radius: 5px;
    margin: 2px;
}

.frequencies {
    max-width : 600px;
    margin : 20px auto;
    text-align: center;
}

.frequencies label {
    padding : 5px;
    border: 2px solid rgba(0, 63, 71, .7);
    border-radius: 5px;
    font-weight: normal;
}

.js-hidden {
    display: none;
}

/* styles for slot machine */
.slot-machine {
    margin-top: 30px;
    margin-bottom: 50px;
}

.slot_machine_wrapper {
    overflow: hidden;
    height: 82px;
    max-width: 440px;
    border: 2px solid rgba(0, 63, 71, .7);
    border-radius: 5px;
    margin: 10px auto;
}

.slot_machine_wrapper .slot {
    position: relative;
    float : left;
    width : 85%;
}

.slot_machine_wrapper .slot_type_tences {
    width : 100%;
}

.slot_machine_wrapper .slot_type_sentence-forms {
    width : 100%;
}

.slot_machine_wrapper .translation_btn_wrapper {
    float : right;
    width : 15%;
    padding-top: 20px;
    color : #337ab7;
    text-align: center;
    cursor : pointer;
    opacity: 0.85;
}

.slot_machine_wrapper .translation_btn_wrapper:hover {
    opacity: 1;
}

.slot_machine_wrapper .slot li{
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slot_machine_wrapper li {
    height: 80px;
    font-size: 26px;
    text-align: center;
    font-family: 'Gravitas One', serif;
}

.spinning{
    transition: top 2.5s ease-out;
}

@media screen and (max-width: 440px){
    .slot_machine_wrapper li {
        font-size: 22px;
    }

    .logo{
        font-size: 20px;
        line-height: 1.3;
    }
}